.btn-primary{
    color: aliceblue;
    background-color: dodgerblue;
    border: 2px solid;
    border-radius: 25px;
    padding: 15px 25px;
    position: relative;
    left: 0%;
    margin-top: 10px;
}

#nameLabel{
    position: relative;
    color: dimgray;
    left: 0%;
    margin-top: 20px;
    margin-bottom: 8px;
}

#nameBox{
    position: relative;
    left: 0%;
    width: 50.8%;
}

#productLabel{
    position: relative;
    color: dimgray;
    left: 0%;
    margin-top: 20px;
    margin-bottom: 8px;
}

#productBox{
    position: relative;
    left: 0%;
    width: 50.8%;
}

#upsLabel{
    position: relative;
    color: dimgray;
    left: 0%;
    margin-top: 20px;
    margin-bottom: 8px;
}

#upsBox {
    position: relative;
    left: 0%;
    width: 50.8%;
    border-color: lightgray;
    padding: 0px 0px 10px 0px;
}
#downsBox {
    position: relative;
    left: 0%;
    width: 50.8%;
    border-color: lightgray;
    padding: 0px 0px 10px 0px;
}
#downsLabel{
    position: relative;
    color: dimgray;
    left: 0%;
    margin-top: 20px;
    margin-bottom: 8px;
}

#nameBox.ng-touched.ng-invalid{
    border: 1px solid red;
}
#productBox.ng-touched.ng-invalid{
    border: 1px solid red;
}
#downsBox.ng-touched.ng-invalid{
    border: 1px solid red;
}
#upsBox.ng-touched.ng-invalid{
    border: 1px solid red;
}

.alert{
    position: relative;
    width: 50.8%;
    left: 0%;
}