<script src="../admin/users/removeUser.component.ts"></script>
<form [formGroup]="feedbackGroup" (ngSubmit)="submitFeedback(feedbackGroup)">
    <div class="col-md-8 col-md-offset-2">
        <div>
            <label for="nameBox" id="nameLabel">Name</label>
            <br>
            <input type="text"
                   id="nameBox"
                   class="form-control"
                   placeholder="Name"
                   formControlName="nameBox">
            <div *ngIf="feedbackGroup.get('nameBox').errors && feedbackGroup.get('nameBox').touched">
                <div *ngIf="feedbackGroup.get('nameBox').errors.required"
                     class="alert alert-danger">
                    :( Tsk Tsk. Name is a required field!
                </div>
            </div>
        </div>
        <div>
            <label for="productBox" id="productLabel">Product / Project</label>
            <br>
            <input type="text"
                   id="productBox"
                   class="form-control"
                   placeholder="Product / Project Name"
                   formControlName="productBox">
            <div *ngIf="feedbackGroup.get('productBox').errors && feedbackGroup.get('productBox').touched">
                <div *ngIf="feedbackGroup.get('productBox').errors.required"
                     class="alert alert-danger">
                    :( Tsk Tsk. Product / project is a required field!
                </div>
            </div>
        </div>

        <h2 id="upsLabel">Ups</h2>
        <div formArrayName="upsBox">
            <div *ngFor="let upsControl of upsBox.controls; let i = index">
                <br>
                <span class="labelLine">
                    <label>{{goalsArr[i].toString()}}</label>
                    <textarea [formControlName]="i"
                              id="upsBox"
                              rows="3"
                              cols="60"
                              class="form-control"
                              placeholder="What were the ups for the week?">
                    </textarea>
                </span>
                <div *ngIf="upsBox.controls[i].errors && upsBox.controls[i].touched">
                    <div *ngIf="upsBox.controls[i].errors.required"
                         class="alert alert-danger">
                        :( Tsk Tsk. Weekly ups feedback required!
                    </div>
                </div>
            </div>
        </div>
        <h2 id="downsLabel">Downs</h2>
        <div formArrayName="downsBox">
            <div *ngFor="let downsControl of downsBox.controls; let i = index">
                <br>
                <span class="labelLine">
                    <label>{{goalsArr[i].toString()}}</label>
                    <textarea [formControlName]="i"
                              id="downsBox"
                              rows="3"
                              cols="60"
                              class="form-control"
                              placeholder="What were the ups for the week?">
                    </textarea>
                </span>
                <div *ngIf="downsBox.controls[i].errors && downsBox.controls[i].touched">
                    <div *ngIf="downsBox.controls[i].errors.required"
                         class="alert alert-danger">
                        :( Tsk Tsk. Weekly ups feedback required!
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary"
                    [disabled]="!feedbackGroup.valid">
                Submit
            </button>
        </div>
    </div>
</form>





