<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Mail</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label>Role</label>
            <select formControlName="role" class="form-control" [value]="0">
                   <option selected disabled [value]="0">Choose A role</option>
                   <option [value]="1">Admin</option>
                   <option [value]="2">Director</option>
                   <option [value]="3">Manager</option>
                   <option [value]="4">Contributor</option>
            </select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>