<form [formGroup]="goalForm" (ngSubmit)="saveGoals(goalForm)">
    <div>
        <select formControlName="directorCtrl" class="form-control" *ngIf="directorsArr" [value]="0">
            <option selected disabled [value]="0">Choose a Director</option>
            <option *ngFor="let director of directorsArr; let i = index" [value]="i">
                {{director.firstName}} {{director.lastName}}
            </option>
        </select>
    </div>
    <br>
    <div>
        <select formControlName="selGoalYr" class="form-control" *ngIf="goalYrs" [value]="0">
            <option selected disabled [value]="0">Select a Year</option>
            <option *ngFor="let goalYr of goalYrs; let i = index" [value]="goalYr.toString()">
                {{goalYr}}
            </option>
        </select>
    </div>
    <br>
    <hr>
    <div formArrayName="goals">
        <div *ngFor="let goal of goals.controls; let i = index">
            <span id="inputRowSpan">
                <input class="form-control" [formControlName]="i" placeholder="Add New Goal">
                <button class="btn btn-danger" type="button" (click)="onDelete(i)">-</button>
            </span>
        </div>
    </div>
    <div>
        <span>
            <button class="btn btn-success" type="button" (click)="addGoal()">Add Goal</button>
            <button class="btn btn-primary">Save</button>
        </span>
    </div>
</form>